nav {
  margin-top: -100px;
}
footer {
  background-color: aqua
}

.bg-black {
  background-color: #000000 !important;
}
.divider {
  border-top: 1px solid rgb(49, 45, 45);
  height: 2px;
  width: 80%;
  padding: 0;
  margin: 20px auto 0 auto;
}
.header-icon {
  width: 20rem;
  height: 1.5625rem;
  margin: 0 auto;
  padding: 0;
  background-color: aqua;
}
.divider-long {
  border-top: 1px solid rgb(49, 45, 45);
  height: 2px;
  width: 90%;
  padding: 0;
  margin: 20px auto 0 auto;
}